body {
    background-color: #FAA;
}

#countdown {
    text-align: center;
    margin-bottom: 10px;
    font-size: 150%;
    background-color: #FFF;
    border-bottom: 1px dotted black;
}

.timerButtons button {
    background-color: #FFF;
}

.buttonContainer {
    margin: 0 0 5px 5px;
}

.pomoDisplay {
    display: inline-block;
    background-color: #FFF;
    padding: 0 1em 0 1em;    
    border: 1px dotted black;
}
